/* Navigation Bar */

.navbar_coca_cola {
    background-color:rgb(206, 0, 0); 
   /* Set navbar background color */
}


.navbar_coca_cola .navbar-brand {
    color: rgb(245, 235, 235);
}
    
.navbar_coca_cola .navbar-brand:hover {
    color: rgb(39,39,39);
}

.navbar_coca_cola .navbar-nav > li > a {
	color: white;  
}

.navbar_coca_cola .navbar-nav > li > a:hover, 
.navbar_coca_cola .navbar-nav > li > a:focus {
    color: rgb(133, 56, 56);  
}

.navbar_coca_cola .navbar-nav .nav-item > .active, 
.navbar_coca_cola .navbar-nav > .active > a:hover, 
.navbar_coca_cola .navbar-nav > .active > a:focus {
    color: white;
}

.navbar_coca_cola .navbar-toggler {
    border-color: white;
}

.dropdown-menu {
    background-color:rgb(77, 77, 77) !important;
    padding-top:0px !important;
    padding-bottom:0px !important;
    overflow: hidden !important;

   }


.myDropdownItem:hover {
    background-color: rgb(255, 255, 255);
    border-radius:0px;
    color:rgb(39, 39, 39);

   }

   .myButton:hover {
    background-color: rgb(206, 0, 0);
   }

.brush:hover {
    content: url(../assets/icons/brush_green.svg);
}


/* Body */

body {
    background-color: #1E1E1E;
}

#main_text {
    background-color: rgba(255,255,255,0.8);
}

#main_text h2 {
    color: rgba(0,102,153,1);
}

#main_text p {
    font-size: 12px;
    margin: 0px;
    line-height: 1.2;
}

.card {
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: rgba(52, 52, 52, 1.0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body h1, .card-body h2, .card-body h3, .card-body h4, .card-body h5, .card-body h6, .card-body p {
    color: white;
}

.gallery-header {
    color: white;
}

.gallery-header:hover {
color: green;
border: 1px solid transparent;
}





.btn-primary {
    background-color: rgba(30, 30, 30, 1.0);
    border: 1px solid rgba(0, 0, 0, 1.0);
}

/* Footer */
.footer {
    color: #030303;
    background-color: rgb(206, 0, 0);
}

.navbar-text > p {
    color: rgb(255, 255, 255);
}

.social-logo {
    color: white;
}